In [1]:
from __future__ import division
from __future__ import unicode_literals
from __future__ import print_function
from nltk import lazyimport

import nltk, re, pprint
from nltk import word_tokenize, pos_tag, sent_tokenize
from nltk.corpus import wordnet as wn
import io

import numpy as np#for math processing ,need
from numpy import arange #to handle ranges 
import unicodedata
import random
from collections import defaultdict
import csv
import pandas
import xlrd

This first line will import the data, assuming the same columns the classifier had output. Make sure to change the name of the file to the correct one before proceeding.

In [ ]:
dffirst = pandas.read_excel("FILE NAME") # change file name

Develops the table sorted by note type, with the columns first arranged by note type, then by General/Regional/Local.

In [3]:
df_bypatient = dffirst.pivot(index='PAT_DEID', columns='NOTE_CODE', values=['General', 'Regional', 'Local'])
df_bypatient.columns = df_bypatient.columns.swaplevel(0, 1)
df_bypatient.sort_index(level =0, axis=1,inplace=True)
df_bypatient

NOTE_CODE Anesthesia Procedure Notes                Operative Notes        \
                             General Local Regional         General Local
PAT_DEID
20                               1.0   0.0      0.0             1.0   1.0
32                               0.0   1.0      0.0             0.0   1.0
45                               1.0   0.0      0.0             1.0   1.0

NOTE_CODE          Operative Reports                Post-Op Note        \
          Regional           General Local Regional      General Local
PAT_DEID
20             0.0               1.0   1.0      0.0          0.0   1.0
32             1.0               NaN   NaN      NaN          0.0   1.0
45             0.0               1.0   1.0      0.0          NaN   NaN

NOTE_CODE
          Regional
PAT_DEID
20             0.0
32             0.0
45             NaN

In [4]:
import xlsxwriter
#change what dataframe to save, and what rows to save. for columns, can probably drop noteid but keep pat ID?
df = df_bypatient
writer = pandas.ExcelWriter('anes_results_by_note.xls',engine = "xlsxwriter")
df.to_excel(writer, sheet_name = 'Sheet1')
workbook = writer.book
worksheet = writer.sheets["Sheet1"]
format1 = workbook.add_format({'num_format': '1'})
worksheet.set_column('C:C', None, format1)
writer.save()